body{
    margin: 0px;
}
main{
    display: flex;
}
.block{
    width: 100%;
    border: 1px dotted black;
    height: 600px;
}
.right {
    display: none;
}
.left {
    display: flex;
    justify-content: center;
    align-items: center;
}