body{
    margin: 0px;
}
main{
    display: flex;
}
.block{
    width: 100%;
    border: 1px dotted black;
    height: 600px;
}
.left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-edit{
    display: none;
}
.active {
    display: block;
}
.inactive{
    display: none;
}
#bookTitle {
    width: 100px;
}